<footer class="bg-dullGold text-darkNavy h-20 flex items-center justify-center ">
  <div>
    <%= link_to t('.terms'), '#', class: 'mx-10 hover:opacity-70 font-header' %>
    <%= link_to t('.privacy'), '#',class: 'mx-10 hover:opacity-70 font-header' %>
    <%= link_to t('.inquiry'), '#',class: 'mx-10 hover:opacity-70 font-header' %>
  </div>
</footer>