@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "daisyui";

@theme {
  --color-darkNavy: #1B1F3B; /*背景(ダークネイビー)*/
  --color-lightGray: #E0E0E0; /*文字(ライトグレー)*/
  --color-dullGold: #D4B886; /*見出し(くすみゴールド)*/
  --color-goldBeige: #EED9B6; /*ボタン・リンクのホバー(ゴールドベージュ)*/
  --color-grayBlue: #3A4155; /*カード背景(グレーブルー)*/
  --color-darkSlateBlue: #1E2A38; /*ヘッダー(ダークスレートブルー)*/
  --color-darkBlue: #252A3A; /*本詳細のカード背景(ダークブルー)*/
  --font-header: "Yu Mincho", "sans-serif";
  --font-text: "Noto Sans", "sans-serif";
}
